node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

Todo.MD
BUILD.MD
.mastra

dev.db
dev.db-journal

prisma/migrations
replica.db
replica.db-info
replica.db-shm
replica.db-wal
